 html {
     scroll-behavior: smooth;
 }

 body {
     box-sizing: border-box;
     margin: 0 auto;
     font-size: 18px;
     line-height: 30px;
     font-family: Arial, Helvetica, sans-serif;
     /* padding-top: 70px; */
     color: #333333;
     transition: all 1s;
 }

 h2 {
     font-size: 42px
 }

 /* SECTIONS */
 .section {
     min-height: 100vh;
     padding: 20px 20px 50px;
 }

 /* NAVBAR */
 .nav-wrap h2,
 .nav-wrap ul li {
     margin: 0;
     padding: 0;
 }

 .main-wrap {
     position: relative;
 }

 .nav-wrap {
     background: rgba(255, 255, 255, 0.1);
     backdrop-filter: blur(12px);
     -webkit-backdrop-filter: blur(12px);
     /* border: 1px solid rgba(255, 255, 255, 0.2); */
     border-radius: 15px;
     box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1;
     color: #FFA500;
     font-weight: 600;
 }

 .navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 8%;
 }

 nav ul {
     display: flex;
     gap: 20px;
 }


 nav ul li {
     list-style: none;
     cursor: pointer;
     transition: 0.5s ease-out;
 }

 /* nav ul li:hover {
     transform: rotateX(360deg);
 } */

 nav ul li a {
     font-size: 18px;
     text-decoration: none;
     color: inherit;
 }

 .toggle-btn {
     background: transparent;
     box-shadow: none;
     outline: none;
     border: none;
     font-size: 25px;
 }

 .dark {
     background: #0F172A;
     color: white;
 }

 .dark .mobmenu {
     color: #fff;
 }

 .dark .hero-btn {
     background-image: linear-gradient(to right, #252525 0%, #252525 50%, #f0f0f0 50%, #f0f0f0 100%);
 }

 .dark .nav-wrap {
     color: #fff;
 }

 .dark .projects {
     background-image:
         radial-gradient(white 01px, transparent 1px);
     background-size: 35px 35px;
 }

 .dark .project-card {
     background: #1F2937;
     border: 1px solid #374151;
     border-radius: 12px;
     box-shadow: 15px 15px 20px rgba(182, 182, 182, 0.1);
 }

 .dark .form-wrap {
     background: #535353;
     border: 1px solid #374151;
     color: #fff;
     box-shadow: 0px 0px 5px #4d4d4d;
 }

 .dark .contact {
     filter: brightness(0.4) contrast(1);
     opacity: 1;
     transition: all 1s ease;
 }

 /* HERO */

 .hero {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     background-image: url(./asset/hero-img.png);
     background-position: left top;

     /* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); */
     color: white;
     /* min-height: calc(100vh + 70px); */
 }

 .hero-img {
     max-width: 400px;
     /* aspect-ratio: 4/3.7; */
     border-radius: 20%;
     margin-bottom: 20px;
 }

 .hero-title {
     font-size: 48px;
 }

 .hero-subtitle {
     margin: 10px 0;
     font-size: 18px;
 }

 .btn-wrap {
     margin-top: 30px;
 }

 .hero-btn {
     text-decoration: none;
     background-image: linear-gradient(to right, #242424 0%, #4d4d4d 49.5%, #f0f0f0 50.5%, #f0f0f0 100%);
     color: #fff;
     padding: 15px 45px;
     text-transform: uppercase;
     background-size: 200% auto;
     border-radius: 10px;
     outline: none;
     border: none;
     cursor: pointer;
     transition: background-position 0.5s ease, color 0.5s ease;
 }

 .hero-btn:hover {
     background-position: right center;
     font-weight: 700;
     color: #333333;
     box-shadow: 2px 2px 5px rgba(65, 65, 65, 0.6);

 }


 /* ABOUT */
 .about {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .about-container {
     max-width: 800px;
     margin: auto;
     text-align: center;
 }


 /* skills */
 .skills {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 70px 0px 50px;

     /* background-color: red; */
 }

 .skill-wrap {
     /* overflow-x: auto; */
     width: 70%;
     /* height: 500px; */
     padding: 50px 20px;
     /* background: rgba(255, 255, 255, 0.21); */
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
     backdrop-filter: blur(1px);
     -webkit-backdrop-filter: blur(5px);
     border: 1px solid rgba(255, 255, 255, 0.3);
     text-align: center;
 }

 .skill-card-wrap {
     display: flex;
     flex-wrap: wrap;
     gap: 40px;
     justify-content: center;
 }

 .skill-card {
     padding: 20px 20px 0;
     border-radius: 5px;
     /* border: 1px solid red; */
     box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
     transition: all ease 1s;
 }

 .skill-card:hover {
     transform: scale(0.95);
 }

 .skill-card i {
     font-size: 92px;
 }



 /* PROJECTS */

 .projects {
     text-align: center;
     background-image:
         radial-gradient(#333333 01px, transparent 1px);
     background-size: 35px 35px;
     padding: 70px 0;

 }

 .project-grid {
     display: flex;
     flex-wrap: wrap;
     gap: 50px;
     margin-top: 40px;
     justify-content: center;
     /* centers rows */
 }

 .project-card {
     flex: 1 1 350px;
     max-width: 350px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     background: #F8F9FA;
     border: 1px solid #E5E7EB;
     box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.4);
     border-radius: 12px;
     padding: 30px;
     transition: 0.4s ease;
 }

 .project-card img {
     width: 100%;
     border-radius: 5px;
 }

 .project-buttons {
     display: flex;
     gap: 15px;
     justify-content: center;
 }

 .project-card:hover {
     transform: translateY(-12px) !important;
     /* transition: 1s; */
 }

 /* CONTACT */
 .contact {
     background-image: url(.//asset/jonathan-borba-0Nrq6UvFpI8-unsplash.jpg);
     background-position: center;
     background-size: cover;
     display: flex;
     position: relative;
     justify-content: center;
     align-items: center;
     text-align: center;

 }

 .form-wrap {
     background: rgba(34, 34, 34, 0.35);
     backdrop-filter: blur(20px);
     -webkit-backdrop-filter: blur(22px);
     color: #fff;
     border: 1px solid #E5E7EB;
     box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.4);
     border-radius: 12px;
     transform-origin: center;
     width: 600px;
     padding: 60px 40px;
     border-radius: 20px;
     border-radius: 12px;
 }

 .contact-form {
     display: flex;
     flex-direction: column;
     gap: 25px;
 }

 input, textarea {
     font-size: 16px;
     outline: none;
     padding: 12px;
     border: 1px solid #fff;
     border-radius: 5px;
     background-color: transparent;
     color: #fff;
 }


 input::placeholder,
 textarea::placeholder {
     color: #fff;

 }

 .btn-grad {
     background-image: linear-gradient(to right, #363636 0%, #646464 50%, #f0f0f0 50%, #f0f0f0 100%);
     padding: 15px 25px;
     transition: .5s;
     background-size: 200% auto;
     color: white;
     box-shadow: 0 0 3px #eee;
     border-radius: 10px;
     border: none;
     cursor: pointer;
     text-decoration: none;
     font-weight: 700;
 }


 .btn-grad:hover {
     background-position: right center;
     color: #333333;
     box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
 }

 .social-icons {
     font-size: 32px;
     display: flex;
     flex-direction: column;
     gap: 10px;
     background-color: orangered;
     color: #fff;
     padding: 10px;
     border-radius: 5px;
     position: absolute;
     left: -8.5%;
     bottom: 0;
 }

 .social-icons a {
     text-decoration: none;
     color: inherit;
 }

 /* FOOTER */

 footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     left: 0;
     background: black;
     color: white;
     text-align: center;
     margin-bottom: 0;
     padding: 0;
 }

 footer p {
     font-size: 12px;
     padding: 10px;
 }

 .hamburger {
     display: none;
 }



 @media screen and (max-width:1024px) {
     .project-grid {
         gap: 50px;
     }

     .skills-container {
         width: 100% !important;
     }

     .project-buttons {
         flex-direction: column;
     }
 }

 @media screen and (max-width:768px) {
     .skills-container {
         padding: 60px 20px;
         flex-direction: column;
         gap: 100px;
     }

     h2, .hero-title {
         font-size: 28px;
     }

     .social-icons {
         flex-direction: row;
         bottom: -10%;
         left: 0;
     }

 }


 @media screen and (max-width:425px) {


     .menu {
         display: none;
     }

     .hamburger {
         display: block;
     }

     .hamburger button {
         background-color: #0F172A;
         padding: 5px 10px;
         color: #fff;
         border: none;

     }

     .navbar {
         padding: 10px;
         position: relative;
     }

     .mobmenu {
         transition: all 2s ease;
         padding: 20px;
         position: absolute;
         top: 80%;
         right: 3%;
         width: auto;
     }

     .mobmenu ul {
         flex-direction: column;
     }

 }